.about{
    min-height: 100vh;
}

.about-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* color: #fff; */
}

.about-sec img{
    height: 400px;
    width: 400px;
    object-fit: contain;
}

.aboutMe h5{
    font-size: 1em;
    margin-bottom:15px;
}

.aboutMe h2{
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fff;
}

.about-sec p{
    line-height: 1.7;
    color: #fff;
}

.aboutMe ul{
    margin-top: 17px;
    display: flex;
    gap: 18px;
}

.aboutMe ul li{
    font-size: 1.6em;
    color: #fff;
    background-color: darkgray;
    padding: 3px 5px;
    border-radius: 50px;
}

.aboutMe .button{
    margin: 40px 0;
    display: flex;
    gap: 30px;
}

.aboutMe .button a{
    padding: 11px 15px;
    color: #fff;
    border-radius: 10px;
    font-size: 1.1em;
    transition: all ease-in .3s;
    
}

.aboutMe .button a:nth-child(1){
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
}
.aboutMe .button a:nth-child(1):hover{
    background-color: transparent;
}

.aboutMe .button a:nth-child(2){
    border: 1px solid dodgerblue;
    background-color: transparent;
    transition: all ease-in .3s;
}
.aboutMe .button a:nth-child(2):hover{
    background-color: dodgerblue;
}
.aboutMe .button a:nth-child(2):hover i{
    /* background-color: dodgerblue; */
    padding-left: 5px;
}

.aboutMe .button span{
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .about-sec{
        flex-direction: column;
        gap: 15px;
    }
    .about-sec p{
        line-height: 1.7;
    }
}

@media screen and (max-width: 425px) {
    .about-sec img{
        width: 300px;
        height: 300px;
    }
    .aboutMe .button a{
        padding: 9px 13px;
    border-radius: 10px;
    font-size: .9em;
    }
}