.navbar{
    padding: 15px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: dodgerblue; */
    /* background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px); */
    position: fixed;
    width: 100%;
    top: 0;
    transition: all ease-in .3s;
    z-index: 10000;
}

.navbar.active{
    box-shadow: 6px 3px 9px rgba(0, 0, 0, 0.3);
    background-color: #101010;
}

.navbar ul{
    display: flex;
    gap: 10px;
}

.navbar ul a{
    color: rgb(255, 255, 255);
    padding: 9px;
    font-size: 1.1em;
    position: relative;
    transition: all ease-in .3s;
    cursor: pointer;
}


.navbar ul a::after{
    transition: all ease-in .3s;
    content: '';
    height: 3px;
    width: 0%;
    border-radius: 10px;
    background-color: dodgerblue;
    position: absolute;
    left: 0;
    bottom: -1px;
    color: #fff;
}

.navbar ul a:hover::after{
    width: 100%;
}

.navbar ul a.activ::after{
    content: '';
    height: 3px;
    width:100%;
    border-radius: 10px;
    background-color: dodgerblue;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.navbar ul a:hover,
.navbar ul a.activ{
    color: dodgerblue;
}

.navbar .logo{
    font-size: 1.9em;
    font-weight: 700;
    color: #fff;
    transition: .3s;
}

/* .navbar.active .logo{
    color: #fff;
} */

.toggle{
    display: none;
    cursor: pointer;
    font-size: 1.5em;
}

.mobile{
    display: none;
}

@media screen and (max-width:768px){
    .toggle{
        display: block;
    }

    .navbar ul{
        /* display: none; */
        position: absolute;
        flex-direction: column;
        top: 66px;
        left: 0;
        background-color: #303030;
        width: 100%;
        height: 0;
        /* padding: 10px; */
        overflow: hidden;
        transition: height ease-in .3s;
    }
    .navbar a::after{
        display: none;
    }
    .navbar ul a{
        /* justify-content: center; */
        text-align: center;
        width: 100%;
        display: block;
        margin-bottom: 10px 0;
    }
    
    .navbar ul a:hover{
        background-color: #8b8b8b;

    }

    .navbar ul.show{
        height: 250px;
        /* padding: 10px; */
    }

    /* .navbar ul a{
        margin-bottom: ;
    } */

}