footer{
    padding: 20px 10%;
    background-color: #101010;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a{
    color: #fff;
    padding: 10px;
    background-color: dodgerblue;
    border-radius: 10px;
    transition: all ease-in-out .3s;
    font-size: 1.3em;
}

footer a:hover{
    background-color: rgb(25, 110, 196);
}

@media screen and (max-width:425px) {
    footer{
        font-size: .8em;
    }
}